/*全体のフォント設定*/

body {
    font-family: "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
}


/*ヘッダー内のロゴの設定*/
header {
    border-bottom: 4px solid lightgray;
    height: 80px;
}

img {
    width: 300px;
    display: block;
    margin: 0 auto;
    line-height: 80px;
}

/*フォーム全体のBOX*/
.contents {
    width: 600px;
    margin: 30px auto;
    border: 2px solid lightgray;
    padding: 30px 20px;
    border-radius: 10px;
    text-align: center;
}

